<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.just.agentweb.download">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >


        <receiver android:name="com.just.agentweb.download.Downloader$NotificationBroadcastReceiver"></receiver>
    </application>

</manifest>
