<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.just.agentweb"
    >

    <application>
        <provider
            android:name="com.just.agentweb.AgentWebFileProvider"
            android:authorities="${applicationId}.AgentWebFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/web_files_public"/>
        </provider>
        <activity
            android:name="com.just.agentweb.ActionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/actionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">

        </activity>

    </application>

</manifest>
